extends base
block content
    .main__teacher
        .teacher__pic(style=`background-image: url('/img/users/${teacher.photo}.jpg')`)
        .teacher__info
            p= `Name: ${teacher.firstName} ${teacher.lastName}`
            p= `E-mail: ${teacher.email}`
            p= `Phone Number: ${teacher.phoneNumber}`
            - const firstLetter = teacher.role[0].toUpperCase()
            p= `Role: ${teacher.role.replace(teacher.role[0], firstLetter)}`
            p= `Subjects: `
            .subjects__list
                each sub,i in teacher.subjects
                    a(href=`/subjects/${teacher.subjects[i].slug}`)= `${sub.name}`
            a.back(href="/teachers" style="font-size: 25px")= `All teachers`