extends base
block content
    input.search__input#search-graded-test(type="text" placeholder="Search for tests" autocomplete="off")
    each student in tests
        each subject,i in user.subjects
            if student.submittedTests.subject === user.subjects[i].toString()
                .grade-test(style=`${student.submittedTests.graded !== "false" ? 'width:350px;margin:auto;margin-top:1%;' : 0}`)
                    span.studentId(style="display:none;")= `${student._id}`
                    h2= `Submitted by: ${student.firstName} ${student.lastName}`
                    p(style="color:crimson")= `PIN: ${student.pin}`
                    h3.test-header= `Test: ${student.submittedTests.name}`
                    h4(style="color:lime;")= `Graded: ${student.submittedTests.graded !== "false" ? student.submittedTests.graded : 0}`
                    span.gradedTestId(style="display:none;")= student.submittedTests._id
                    h3(style=`display:${student.submittedTests.graded !== "false" ? 'none;' : 0}`)= `Test questions:`
                    each question in student.submittedTests.questions
                        textarea(style=`display:${student.submittedTests.graded !== "false" ? 'none;' : 0} opacity: 1;font-color:black;background-color:white;margin:10px;padding:10px;`)(cols="100" rows="2" disabled)= `${question}`
                    h3(style=`display:${student.submittedTests.graded !== "false" ? 'none;' : 0}`)= `Answers:`
                    textarea(style=`display:${student.submittedTests.graded !== "false" ? 'none;' : 0} opacity: 1;font-color:black;background-color:white;margin:10px;padding:10px;`)(cols="20" rows="10" disabled)= `${student.submittedTests.answer}`
                    h4(style=`display:${student.submittedTests.graded !== "false" ? 'none;' : 0}`)= `Grade this test: `
                    div.grade-parent(style=`display:${student.submittedTests.graded !== "false" ? 'none;' : 0}`)
                        button.grade 1
                        button.grade 2
                        button.grade 3
                        button.grade 4
                        button.grade 5