extends base
block content
    .account-div
        .my-info
            - const determineRole = user.role === 'assistant' ? 'background-color: rgba(197, 30, 219, 0.568);' : user.role === 'teacher' ? 'background-color: rgba(238, 47, 47, 0.568);' : 'background-color: rgba(95, 233, 15, 0.568);'
            div
                - const photoExists = user.photo !== 'Photo is not provided.' ? user.photo : `default`
                img(src=`/img/users/${photoExists}.jpg` style="width:120px;border:2px solid whitesmoke;margin:5px;")
                button#upload-photo(style=`${determineRole}`) Upload photo
            div
                label(style="margin:10px;color:whitesmoke;" for="firstName") First name: 
                input.p-update#firstName(type="text" name="firstName" value=`${user.firstName}`)
                label(style="margin:10px;color:whitesmoke;" for="lastName") Last name: 
                input.p-update#lastName(type="text" name="lastName" value=`${user.lastName}`)
                label(style="margin:10px;color:whitesmoke;" for="email") E-mail: 
                input.p-update#emailChange(type="text" name="email" value=`${user.email}`)
                label(style="margin:10px;color:whitesmoke;" for="phone") Phone number: 
                input.p-update#phoneNumber(type="text" name="phone" value=`${user.phoneNumber}`)
                button#savechanges(style=`${determineRole}`) Save changes
            div
                label(style="margin:10px;color:whitesmoke;" for="password") Current password: 
                input.p-update#passwordCurrent(type="password" name="password")
                label(style="margin:10px;color:whitesmoke;" for="password") New password: 
                input.p-update#passwordChange(type="password" name="password")
                label(style="margin:10px;color:whitesmoke;" for="passwordRepeat") Confirm new password: 
                input.p-update#passwordRepeatChange(type="password" name="passwordRepeat")
                button#savechangepw(style=`${determineRole}`) Save password
            if me.role === 'assistant' || me.role === 'teacher'
                div
                    h3(style="color:whitesmoke;margin:10px;") My subjects
                    each sub,i in me.subjects
                        if me.role === 'assistant'
                            a.my-subs.assistant(style=`margin:10px;color:whitesmoke;text-decoration:none;list-style:none;` href=`/subjects/${me.subjects[i].slug}`)= `${me.subjects[i].name}`
                        if me.role === 'teacher'
                            a.my-subs.teacher(style=`margin:10px;color:whitesmoke;text-decoration:none;list-style:none;` href=`/subjects/${me.subjects[i].slug}`)= `${me.subjects[i].name}`
                        if me.role === 'teacher'
                            a.newTest(href=`/new-test/${me.subjects[i].id}`)= `+ New test for ${me.subjects[i].name}`
                    if me.role === 'teacher'
                        a.edit-test(href=`/edit-tests/${me.id}`)= `Edit tests`

                