extends base
block content
    .stats-div
        each stat in stats
            div
                h3(style="display:flex;justify-content:center;align-items:center;margin:auto;color: crimson;").subject-stats-p= `Semester: ${stat.semester}.`
                p.subject-stats-p= `Subjects: ${stat.subjects}`
                p.subject-stats-p= `Number of subjects: ${stat.numOfSubjects}`
                p.subject-stats-p= `Number of required subjects: ${stat.numOfRequiredSubjects}`
                p.subject-stats-p= `Lowest points registered to subject: ${stat.minPointsSubject}`
                p.subject-stats-p= `Maximum points registered to subject: ${stat.maxPointsSubject}`